---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ListEntry from "../components/ListEntry.astro";
import PostSideBar from "../components/PostSideBar.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

let posts = [];

const writingCollection = await getCollection("writing", ({ slug }) => {
  return !slug.startsWith("weeknotes");
});
const booksCollection = await getCollection("books");
const peaceCorpsCollection = await getCollection("peace-corps");
posts.push(...writingCollection);
posts.push(...booksCollection);
posts.push(...peaceCorpsCollection);

posts = posts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5);
---

<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
    <style>
      h2 + ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: var(--space-xs-s);
        padding: 0;
      }
    </style>
  </head>

  <body>
    <Header title="Westley Winks" />

    <main>
      <section>
        <h2>Recent posts</h2>
        <ul>
          {posts.map((post) => <ListEntry entry={post} />)}
        </ul>
      </section>

      <section>
        <h2>Who am I?</h2>
        <p>
          My name is Westley Winks. I try to live my life with integrity by
          living according to my core values:
        </p>
        <ul>
          <li>
            <strong>Learning.</strong> I live for the pursuit of learning and it
            gives my life meaning and purpose. I stay curious and am always looking
            for new information and skills. For me, learning looks like <a
              href="/books">reading books</a
            >, <a href="https://github.com/Westley-Winks">coding</a>, solving
            puzzles, reading blog posts, <a href="/writing">writing</a>, and
            trying new things. One of my weaknesses is learning <em
              >for the sake of learning</em
            > and staying on the theoretical side of things instead of applying them.
          </li>
          <li>
            <strong>Service to others.</strong> One of my roles in this life is to
            compassionately serve others, supporting them and nurturing their growth.
            I enjoy being known as &quot;the guy&quot; who people call, knowing that
            I will put all my effort into helping them. Serving others looks like
            <a href="/peace-corps">volunteering</a>, choosing the "support role"
            in any game I play, and <a href="/writing">writing</a>.
          </li>
        </ul>
        <h2 id="contact">Can I contact you?</h2>
        <p>Please do. You can find me on the following:</p>
        <ul>
          <li>
            <a
              href="mailto://websitecontact.hush341@passmail.net"
              target="_blank">Email me</a
            >
          </li>
          <li><a href="https://social.lol/@ww" target="_blank">Mastodon</a></li>
          <li>
            <a href="https://www.linkedin.com/in/westley-winks" target="_blank"
              >LinkedIn</a
            >
          </li>
          <li>
            <a href="https://github.com/Westley-Winks" target="_blank">GitHub</a
            >
          </li>
          <li>
            <a href="https://matrix.to/#/@ww:omg.lol" target="_blank">Matrix</a>
          </li>
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
