<section>
  <p>
    <em
      >DISCLAIMER: The contents of this website are mine personally and do not
      reflect any position of the U.S. Government or the Peace Corps.</em
    >
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/Westley_Winks"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/Westley_Winks', 'popupwindow')"
  >
    <label for="bd-email">Enter your email to get posts in your inbox:</label>
    <input
      type="email"
      name="email"
      id="bd-email"
      placeholder="Email Address"
    />
    <input type="submit" value="Subscribe" />
    <p>
      <a href="https://buttondown.email" target="_blank" rel="noopener"
        >Powered by Buttondown.</a
      >
    </p>
  </form>
</section>
